<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<version>2003000</version>
<userDir/>
<connection>
		<proxyChain>
			<hostName><%= @host %></hostName>
			<port><%= @port %></port>
			
			<realm/>
			<userName/>
			<password/>		
			<prompt>false</prompt>
		<enabled>false</enabled>
<confirmRemoveExcludedDomain>true</confirmRemoveExcludedDomain>
<authEnabled>false</authEnabled>
</proxyChain>
		<auth/>
		
	<timeoutInSecs>20</timeoutInSecs>
<confirmRemoveAuth>true</confirmRemoveAuth>
<singleCookieRequestHeader>true</singleCookieRequestHeader>
<securityProtocolsEnabled>
<protocol>TLSv1.1</protocol>
<protocol>TLSv1</protocol>
<protocol>TLSv1.2</protocol>
<protocol>SSLv3</protocol>
</securityProtocolsEnabled>
</connection>
<proxy>
		<ip><%= @host %></ip>
		<port><%= @port %></port>
		<reverseProxy>
			<use>0</use>	
			<ip>localhost</ip>
			<httpPort>80</httpPort>
			<httpsPort>443</httpsPort>
		</reverseProxy>		
		
	<modifyAcceptEncoding>true</modifyAcceptEncoding>
<decodeGzip>true</decodeGzip>
<securityProtocolsEnabled>
<protocol>TLSv1.1</protocol>
<protocol>TLSv1</protocol>
<protocol>TLSv1.2</protocol>
<protocol>SSLv3</protocol>
</securityProtocolsEnabled>
</proxy>
<view>
		<processImages>0</processImages>
		<displayOption>1</displayOption>
		<editorView>2</editorView>
		<brkPanelView>0</brkPanelView>
		<showMainToolbar>1</showMainToolbar>
	<locale>en_GB</locale>
<messagePanelsPosition>
<lastSelectedPosition>TABS_SIDE_BY_SIDE</lastSelectedPosition>
</messagePanelsPosition>
<mode>standard</mode>
<showTabNames>true</showTabNames>
<advancedview>0</advancedview>
<askOnExit>1</askOnExit>
<uiWmHandling>0</uiWmHandling>
<main>
<request>
<httppanel>
<defaultcomponent>RequestSplit</defaultcomponent>
<components>
<dividerLocation>-1</dividerLocation>
<split>
<header>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</header>
<body>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
<syntax>
<autodetect>true</autodetect>
</syntax>
</HttpPanelSyntaxHighlightTextView>
</views>
</body>
</split>
<all>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</all>
<pnhClient>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</pnhClient>
<websocket>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</websocket>
</components>
</httppanel>
</request>
<response>
<httppanel>
<defaultcomponent>ResponseSplit</defaultcomponent>
<components>
<pnhClient>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</pnhClient>
<all>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</all>
<websocket>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</websocket>
<dividerLocation>-1</dividerLocation>
<split>
<header>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
</HttpPanelSyntaxHighlightTextView>
</views>
</header>
<body>
<defaultview>HttpPanelSyntaxHighlightTextView</defaultview>
<views>
<HttpPanelSyntaxHighlightTextView>
<aa>true</aa>
<linenumbers>false</linenumbers>
<wordwrap>true</wordwrap>
<highlightline>false</highlightline>
<fadehighlightline>false</fadehighlightline>
<whitespaces>false</whitespaces>
<newlines>false</newlines>
<markocurrences>false</markocurrences>
<roundedselection>false</roundedselection>
<bracketmatch>false</bracketmatch>
<animatedbracketmatch>false</animatedbracketmatch>
<syntax>
<autodetect>true</autodetect>
</syntax>
</HttpPanelSyntaxHighlightTextView>
</views>
</body>
</split>
</components>
</httppanel>
</response>
</main>
</view>
<start>
        <checkForUpdates>false</checkForUpdates>
    <dayLastChecked>Never</dayLastChecked>
<downloadNewRelease>false</downloadNewRelease>
<checkAddonUpdates>false</checkAddonUpdates>
<installAddonUpdates>false</installAddonUpdates>
<installScannerRules>false</installScannerRules>
<reportReleaseAddons>false</reportReleaseAddons>
<reportBetaAddons>false</reportBetaAddons>
<reportAlphaAddons>false</reportAlphaAddons>
</start>
<certificate>
		<use>0</use>
		<clientCertLocation/>
		<experimentalSlotListIndex>false</experimentalSlotListIndex>
	</certificate>
<spider>
		<thread>2</thread>
		<maxDepth>5</maxDepth>
		
		<postform>true</postform>
		<processform>true</processform>
		<sendCookies>false</sendCookies>
		<skipurl/>
		<requestwait>200</requestwait>
		<parseComments>true</parseComments>
		<parseRobotsTxt>false</parseRobotsTxt>
	<handleParameters>USE_ALL</handleParameters>
<confirmRemoveDomainAlwaysInScope>true</confirmRemoveDomainAlwaysInScope>
<parseSVNentries>false</parseSVNentries>
<parseGit>false</parseGit>
<handleODataParameters>false</handleODataParameters>
</spider>
<scanner>
		<hostPerScan>2</hostPerScan>
		<threadPerHost>2</threadPerHost>
	<injectable>3</injectable>
<enabledRPC>31</enabledRPC>
<excludedParameters>
<name>(?i)ASP.NET_SessionId</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>(?i)ASPSESSIONID.*</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>(?i)PHPSESSID</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>(?i)SITESERVER</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>(?i)sessid</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>__VIEWSTATE</name>
<type>2</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>__EVENTVALIDATION</name>
<type>2</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>__EVENTTARGET</name>
<type>2</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>__EVENTARGUMENT</name>
<type>2</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>(?i)jsessionid</name>
<type>-1</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>cfid</name>
<type>4</type>
<url>*</url>
</excludedParameters>
<excludedParameters>
<name>cftoken</name>
<type>4</type>
<url>*</url>
</excludedParameters>
<delayInMs>0</delayInMs>
<maxResults>1000</maxResults>
<antiCSFR>false</antiCSFR>
<level>MEDIUM</level>
<strength>MEDIUM</strength>
</scanner>
<portscan>
		<threadPerHost>5</threadPerHost>
		<maxPort>10240</maxPort>
	</portscan>
<addons>
<block/>
</addons>
<fuzzer>
<threadPerScan>1</threadPerScan>
<defaultCategory>jbrofuzz / Alphabets</defaultCategory>
<delayInMs>0</delayInMs>
</fuzzer>
<ajaxSpider>
<configVersion>1</configVersion>
<crawlInDepth>false</crawlInDepth>
<numberOfBrowsers>1</numberOfBrowsers>
<browserId>firefox</browserId>
</ajaxSpider>
<plugins>
<p6>
<enabled>1</enabled>
</p6>
<p7>
<enabled>1</enabled>
</p7>
<p40009>
<enabled>1</enabled>
</p40009>
<p40012>
<enabled>1</enabled>
</p40012>
<p40014>
<enabled>1</enabled>
</p40014>
<p40018>
<enabled>1</enabled>
</p40018>
<p90019>
<enabled>1</enabled>
</p90019>
<p90020>
<enabled>1</enabled>
</p90020>
<p0>
<enabled>1</enabled>
</p0>
<p10001>
<enabled>1</enabled>
</p10001>
<p30000>
<enabled>1</enabled>
</p30000>
<p40003>
<enabled>1</enabled>
</p40003>
<p40008>
<enabled>1</enabled>
</p40008>
<p40016>
<enabled>1</enabled>
</p40016>
<p40017>
<enabled>1</enabled>
</p40017>
<p50000>
<enabled>1</enabled>
</p50000>
</plugins>
<dynssl>
<param>
<rootca>_u3-7QAAAAIAAAABAAAAAQARb3dhc3BfemFwX3Jvb3RfY2EAAAFKyCPjeQAABQEwggT9MA4GCisGAQQBKgIRAQEFAASCBOni3gzdjoujEfRIwLI9npqlGexdKKV1IrPK6i1SZipa0Esq5jfZ_6zIzBnlWSvLmRcPC0aPaJQqDlwC09uUh3ugDNNMBAW7RPhqtEPWcm2sCTbIStVbmgRG51iCUc_5HZa7blAc_aySOWvGbQR7hvo5njiopIJlnGHypn9BuohjQMvf5iskWNjwXKJAvQW6DHHWLlRS0j_uhQFNicXzVfapWiuV3hkp3M9dEUXKjuhzd_wRhgpsSk6lAs3QhC1Z17v4ljtxTi5uFmy4SKTefw7Na7aHH3BqLxM3Q2XTIL6DyV1ZEQ19Yq2kvzdDzS2XW27vcfH4n0AgO-ytgT5q2ByJmO38h6MPvAws4NL77Je3-yn-gTisAwt8aCaB6Oo_ZcGgfcbRHdrxatxe7v0oOxDkeis95f7gCfomXoTlD8mRT9_-7zrt0nODKXtKlrYWFb40UvR6c7o3Xwwttbp4TwKR1NuVMssk3Q9cqJoOmCRzEJOX3qndfQBl-vU1uL7Zze1gy-Q4bic7HfuIscBK5P5JDiJ-xfFFcvuxxN7Oc0Ql0sgK-NyjzIc3Dq-TgxADgNZAGNwOlB7aF3iyJo0cQLzStaY0TscayXmITTWKTpaVZM_gdQhDWk5-EnQfiGQkp2yoe4n47HztHkCFP73owI2hVhYF9tLkzhgbWqmyEzu9_1UUjqMaOed0QKzeN_AiClnmLb3b-PfP5OL2EgxLyCEJzZsqt1liD2Haw_jkr3Ioz9Py5zm8-3crKIP0jn91DILbi2CaL5CtgUKh3lTjjz4y6ZBLSdA04QfsXe3ntTRiBheftdxgJ9G5VsxbI75qAe3knB-GIn3CasMQvZkWos5WtoX6AWiPM_O9LjnXzSkWA20QeCR1yNXHp8ZpBS6BaA43guNTuP9zC84EIQ_nWv6xyCHTc8YZVdBuL92aSQef3NHyyhMgldMd4VwMjN11OgWQqBVPiSBnioNpZ6WvZlC4DOr4RMZGi-eJb-hgLy6kO5BXyWoj9PmIoEflKsH3t3Y0GlvsmJfRjYAduGAezggwsAeX2ZR4PP8u2qovzINHMRY3O09bLmgV8NeRo0_BoYYx93LvPp-mSS60Toe8s4PMEjm_AeQHiTyPN0bXrwQA2InOPthFjcJMeq96mH_vFqizC_ELOFWFXwUCyC6HvKXMxQMjYVdxrY1Cv6_zc2uTiHPRPw9famNvfz0TLMQbaZkssTkrM0getNVOXwa0qDmVTjZQAIlm0AqWKhOq2oAyToe9Al47bqggGvFEbb_0Zs-y6i4yEWCgzemkj5uTuKak7Noa4m_k9SA6wuXmJ26KH6PWJP4ymWtMliq0k4mnFTT1OWy_TFM0tgSnOJ3Z6S2QzjXg8DWVq9d15W9whXDbEP2u6NOotOaxepPTcCwRz99LOs5lwc3AV6_-9SVO38q_GDWIKoqGDp7WWPBd8Xu0wEMZy1G1ScGy3rdBbBqBLYnU6eXdBeNM7afKsGaIg4cTomrFXsffPsIHSnyFckCCk_jkbnvLY5oJ1eqlq8PTW-eLQTKLXLwjKvPEIXuIsz49GNr1saIC_kar9L3Gy_zzgjJWtK15AWz3cNqcXE7vT0DQ8a8u6Sk8W6dAU67vQASK5AtgkEGb3mREhz2Cyipo2IIJci6NIO9AWFBWFV9glDumhipuf3f8jKsAAAABAAVYLjUwOQAAA_IwggPuMIIC1qADAgECAgT7A0hEMA0GCSqGSIb3DQEBBQUAMIGFMScwJQYDVQQDDB5PV0FTUCBaZWQgQXR0YWNrIFByb3h5IFJvb3QgQ0ExGTAXBgNVBAcMEGM0YzhmMTYzNzhmMzBmNmExFjAUBgNVBAoMDU9XQVNQIFJvb3QgQ0ExGjAYBgNVBAsMEU9XQVNQIFpBUCBSb290IENBMQswCQYDVQQGEwJ4eDAeFw0xNTAxMDgwNjAzMjJaFw0xNjAxMDgwNjAzMjJaMIGFMScwJQYDVQQDDB5PV0FTUCBaZWQgQXR0YWNrIFByb3h5IFJvb3QgQ0ExGTAXBgNVBAcMEGM0YzhmMTYzNzhmMzBmNmExFjAUBgNVBAoMDU9XQVNQIFJvb3QgQ0ExGjAYBgNVBAsMEU9XQVNQIFpBUCBSb290IENBMQswCQYDVQQGEwJ4eDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAI36o6UR3w75dErXSIp-fXeDeo2CGiYfnZ2zY8P_Sm9QA1wAmY0zIbD7LCSdTmLOUdX43hrT3P2ZGQ97p8H8tCusC7AXQMajEFIoFVC27Ml4gLj5t7wxP5VlX_17J2nFJHy3Ki4C1dTwWozSU-US50mBTco-nn4UbHLCCFIkDc_-S9kx95f6juAEZryUFghVpAlc02jHL-PfJDanXsp4yCM2LTNTN3LCG397Hc_pGSa5sW5xC734FFbDbCtNNVaoQvZXdrslduXdWI8ln09RPOZ_NibIlLgm_6A0VhSYkovtdg3zOrpAWpLt29_z9Z5BWQG36sbi20qjwBShFzGpzecCAwEAAaNkMGIwHQYDVR0OBBYEFAWMDVjXRqITMBCo5sYWpRScXf24MA8GA1UdEwEB_wQFMAMBAf8wCwYDVR0PBAQDAgG2MCMGA1UdJQQcMBoGCCsGAQUFBwMBBggrBgEFBQcDAgYEVR0lADANBgkqhkiG9w0BAQUFAAOCAQEARllF3qSGi0FjSRbQi9aQRufqccDbQuZdjA4wkNsFvyCbE1ITQH6XHO5AZzEdCUWh8hvzTs_gaiT565BLehDYtB1eHdIlU7GTpTQ7XM_JkiC21-jM6zC3SOK_EM9ZqZ15hEIJfkkYAYKjM24ch5xYfdzX5PQPV6DjfxmCa8tujAH3JxOSIjq_C8lMzdDXCTY1Aq-SIyfZ8oDWMv9rzmPXDY2TMGtzZIRKg2jodX0jB5BvyZr3SiUWcSh8gzwW7e8mg35zOhZfxAg8f3K4V_6YNHYlpI6_tVUrisLSbPih35P1hEXAbvuqCi_BibgGIF7XbV3ocRKIhLpPT3h0_kdLr9Ceh2hKoSZ_6xYXRAVeEceMFtFo</rootca>
</param>
</dynssl>
<httpsessions>
<tokens>
<token>
<name>asp.net_sessionid</name>
<enabled>true</enabled>
</token>
<token>
<name>aspsessionid</name>
<enabled>true</enabled>
</token>
<token>
<name>siteserver</name>
<enabled>true</enabled>
</token>
<token>
<name>cfid</name>
<enabled>true</enabled>
</token>
<token>
<name>cftoken</name>
<enabled>true</enabled>
</token>
<token>
<name>jsessionid</name>
<enabled>true</enabled>
</token>
<token>
<name>phpsessid</name>
<enabled>true</enabled>
</token>
<token>
<name>sessid</name>
<enabled>true</enabled>
</token>
<token>
<name>sid</name>
<enabled>true</enabled>
</token>
<token>
<name>viewstate</name>
<enabled>true</enabled>
</token>
<token>
<name>zenid</name>
<enabled>true</enabled>
</token>
</tokens>
<proxyOnly>false</proxyOnly>
<confirmRemoveToken>true</confirmRemoveToken>
</httpsessions>
<websocket>
<forwardAll>false</forwardAll>
<breakOnAll>false</breakOnAll>
<breakOnPingPong>false</breakOnPingPong>
</websocket>
<ext>
<ExtensionAPI>true</ExtensionAPI>
<ExtensionActiveScan>true</ExtensionActiveScan>
<ExtensionAlert>true</ExtensionAlert>
<ExtensionAntiCSRF>true</ExtensionAntiCSRF>
<ExtensionAscanRules>true</ExtensionAscanRules>
<ExtensionAuth>true</ExtensionAuth>
<ExtensionAuthentication>true</ExtensionAuthentication>
<ExtensionAutoUpdate>true</ExtensionAutoUpdate>
<ExtensionBreak>true</ExtensionBreak>
<ExtensionBruteForce>true</ExtensionBruteForce>
<ExtensionCompare>true</ExtensionCompare>
<ExtensionCoreLang>true</ExtensionCoreLang>
<ExtensionDiff>true</ExtensionDiff>
<ExtensionDynSSL>true</ExtensionDynSSL>
<ExtensionEdit>true</ExtensionEdit>
<ExtensionEncode2>true</ExtensionEncode2>
<ExtensionExtension>true</ExtensionExtension>
<ExtensionFilter>true</ExtensionFilter>
<ExtensionForcedUser>true</ExtensionForcedUser>
<ExtensionFuzz>true</ExtensionFuzz>
<ExtensionGlobalExcludeURL>true</ExtensionGlobalExcludeURL>
<ExtensionHelp>true</ExtensionHelp>
<ExtensionHistory>true</ExtensionHistory>
<ExtensionHttpPanelAMFView>true</ExtensionHttpPanelAMFView>
<ExtensionHttpPanelComponentonentAll>true</ExtensionHttpPanelComponentonentAll>
<ExtensionHttpPanelHexView>true</ExtensionHttpPanelHexView>
<ExtensionHttpPanelImageView>true</ExtensionHttpPanelImageView>
<ExtensionHttpPanelLargeRequestView>true</ExtensionHttpPanelLargeRequestView>
<ExtensionHttpPanelLargeResponseView>true</ExtensionHttpPanelLargeResponseView>
<ExtensionHttpPanelRequestFormTableView>true</ExtensionHttpPanelRequestFormTableView>
<ExtensionHttpPanelRequestQueryCookieTableView>true</ExtensionHttpPanelRequestQueryCookieTableView>
<ExtensionHttpPanelSyntaxHighlightTextView>true</ExtensionHttpPanelSyntaxHighlightTextView>
<ExtensionHttpSessions>true</ExtensionHttpSessions>
<ExtensionInvoke>true</ExtensionInvoke>
<ExtensionKeyboard>true</ExtensionKeyboard>
<ExtensionLog4j>true</ExtensionLog4j>
<ExtensionManualRequest>true</ExtensionManualRequest>
<ExtensionParams>true</ExtensionParams>
<ExtensionPassiveScan>true</ExtensionPassiveScan>
<ExtensionPlugNHack>true</ExtensionPlugNHack>
<ExtensionPscanRules>true</ExtensionPscanRules>
<ExtensionQuickStart>true</ExtensionQuickStart>
<ExtensionReport>true</ExtensionReport>
<ExtensionRequestPostTableView>true</ExtensionRequestPostTableView>
<ExtensionReveal>true</ExtensionReveal>
<ExtensionSaveRawHttpMessage>true</ExtensionSaveRawHttpMessage>
<ExtensionScript>true</ExtensionScript>
<ExtensionScripts>true</ExtensionScripts>
<ExtensionSearch2>true</ExtensionSearch2>
<ExtensionSessionManagement>true</ExtensionSessionManagement>
<ExtensionSitesRefresh>true</ExtensionSitesRefresh>
<ExtensionSpider>true</ExtensionSpider>
<ExtensionSpiderAjax>true</ExtensionSpiderAjax>
<ExtensionStandardMenus>true</ExtensionStandardMenus>
<ExtensionState>true</ExtensionState>
<ExtensionUiUtils>true</ExtensionUiUtils>
<ExtensionUserManagement>true</ExtensionUserManagement>
<ExtensionViewOption>true</ExtensionViewOption>
<ExtensionWebSocket>true</ExtensionWebSocket>
<ExtensionZest>true</ExtensionZest>
</ext>
<bruteforce>
<threadPerHost>10</threadPerHost>
<recursive>true</recursive>
<defaultFile/>
<browsefiles>false</browsefiles>
<fileextensions/>
</bruteforce>
<globalexcludeurl>
<url_list>
<url>
<regex>^.*\.(gif|jpe?g|png|ico|icns|bmp)$</regex>
<description>Image (ends with .ext)</description>
<enabled>false</enabled>
</url>
<url>
<regex>^.*\.(mp[34]|mpe?g|m4[ap]|aac|avi|mov|wmv|og[gav])$</regex>
<description>Audio/Video (ends with .ext)</description>
<enabled>false</enabled>
</url>
<url>
<regex>^.*\.(pdf|docx?|xlsx?|pptx?)$</regex>
<description>PDF &amp; MS Office (ends with .ext)</description>
<enabled>false</enabled>
</url>
<url>
<regex>^.*\.(css|js)$</regex>
<description>Stylesheet, JavaScript (ends with .ext)</description>
<enabled>false</enabled>
</url>
<url>
<regex>^.*\.(sw[fa]|flv)$</regex>
<description>Flash &amp; related (ends with .ext)</description>
<enabled>false</enabled>
</url>
<url>
<regex>^https?://(safebrowsing-cache|sb-ssl|sb|safebrowsing\.clients)\.google\.com</regex>
<description>Google malware detector updates</description>
<enabled>false</enabled>
</url>
<url>
<regex>^https?://([^/])*\.?lastpass\.com</regex>
<description>Lastpass manager</description>
<enabled>false</enabled>
</url>
<url>
<regex>^https?://(.*addons|au[0-9])\.mozilla\.(org|net|com)</regex>
<description>Firefox browser updates</description>
<enabled>false</enabled>
</url>
<url>
<regex>^https?://([^/])*\.?(getfoxyproxy\.org|getfirebug\.com|noscript\.net)</regex>
<description>Firefox extensions phoning home</description>
<enabled>false</enabled>
</url>
</url_list>
<confirmRemoveToken>true</confirmRemoveToken>
</globalexcludeurl>
<database>
<compact>false</compact>
<request>
<bodysize>16777216</bodysize>
</request>
<response>
<bodysize>16777216</bodysize>
</response>
</database>
<invoke>
<confirmRemoveApp>true</confirmRemoveApp>
</invoke>
<encode>
<param>
<base64charset>UTF-8</base64charset>
<base64dobreaklines>true</base64dobreaklines>
</param>
</encode>
<api>
<enabled>true</enabled>
<key/>
</api>
<pscans>
<autoTagScanners>
<scanner>
<name>html_tag_form</name>
<type>TAG</type>
<config>Form</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;form</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_tag_password</name>
<type>TAG</type>
<config>Password</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;password\s</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_type_password</name>
<type>TAG</type>
<config>Password</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>type\s*=\s*['"]?password['"]?</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_type_hidden</name>
<type>TAG</type>
<config>Hidden</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>type\s*=\s*['"]?hidden['"]?</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_type_upload</name>
<type>TAG</type>
<config>Upload</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>type\s*=\s*['"]?file['"]?</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_tag_object</name>
<type>TAG</type>
<config>Object</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;object\s</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_tag_script</name>
<type>TAG</type>
<config>Script</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;script</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_mailto</name>
<type>TAG</type>
<config>MailTo</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;.*href\s*['"]?mailto:</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_setcookie</name>
<type>TAG</type>
<config>SetCookie</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex>set-cookie</resHeadRegex>
<resBodyRegex/>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_comment1</name>
<type>TAG</type>
<config>Comment</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>/\*</resBodyRegex>
<enabled>true</enabled>
</scanner>
<scanner>
<name>html_comment2</name>
<type>TAG</type>
<config>Comment</config>
<reqUrlRegex/>
<reqHeadRegex/>
<resHeadRegex/>
<resBodyRegex>&lt;!--</resBodyRegex>
<enabled>true</enabled>
</scanner>
</autoTagScanners>
<confirmRemoveAutoTagScanner>true</confirmRemoveAutoTagScanner>
</pscans>
<anticsrf>
<tokens>
<token>
<name>anticsrf</name>
<enabled>true</enabled>
</token>
<token>
<name>CSRFToken</name>
<enabled>true</enabled>
</token>
<token>
<name>__RequestVerificationToken</name>
<enabled>true</enabled>
</token>
<token>
<name>csrfmiddlewaretoken</name>
<enabled>true</enabled>
</token>
</tokens>
<confirmRemoveToken>true</confirmRemoveToken>
</anticsrf>
</config>
